# Render Frontend environment variables
DATABASE_URL=YOUR_NEON_DATABASE_URL
COOKIE_SECRET=REPLACE_WITH_COOKIE_SECRET
DEFAULT_COUNTRY_CODE=BE
EMAIL_PASSWORD=REPLACE_WITH_EMAIL_PASSWORD
EMAIL_USER=info@modura.be
JWT_SECRET=REPLACE_WITH_JWT_SECRET
MEDUSA_API_KEY=REPLACE_WITH_MEDUSA_API_KEY
MEDUSA_BACKEND_URL=https://backend-ltnt.onrender.com
MEDUSA_FRONTEND_URL=https://medusafront-oyq7.onrender.com
NEXT_PUBLIC_BASE_URL=https://medusafront-oyq7.onrender.com
NEXT_PUBLIC_DEFAULT_REGION=be
NEXT_PUBLIC_MEDUSA_BACKEND_URL=https://backend-ltnt.onrender.com
NEXT_PUBLIC_MEDUSA_FRONTEND_URL=https://medusafront-oyq7.onrender.com
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=REPLACE_WITH_MEDUSA_PUBLISHABLE_KEY
NEXT_PUBLIC_SITE_URL=https://www.modura.be
NEXT_PUBLIC_STORE_URL=https://medusafront-oyq7.onrender.com
NEXT_PUBLIC_STRIPE_KEY=REPLACE_WITH_STRIPE_PUBLISHABLE_KEY
NEXT_TELEMETRY_DISABLED=1
NODE_ENV=production
NPM_CONFIG_PRODUCTION=false
STRIPE_API_KEY=REPLACE_WITH_STRIPE_SECRET_KEY
STRIPE_SECRET_KEY=REPLACE_WITH_STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=REPLACE_WITH_STRIPE_WEBHOOK_SECRET
